// Welcome Screen Styles

.welcome-screen
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  z-index: 1

  .info
    color: #aaa
    font-size: 16px
    width: 50%
    display: flex
    justify-content: space-around

  .more-info
    margin: 0
    font-size: 24px
    color: #aaa

.logo
  text-align: center
  font-size: 9em
  color: #ddd
  text-shadow: 1px 1px 1px #ccc,-1px -1px 1px #ccc
  cursor: pointer
  transition: all ease .3s      

.company
  font-family: squarefont
  cursor: pointer

.product
  cursor: pointer

.movable
  transition: all ease .5s

// End of Welcome Screen Styles


//  About Screen Styles

.about-screen
  position: absolute
  width: 100%
  top: 50px
  left: 0
  height: 550px
  background: #fdfdfd
  text-align: center
  z-index: 1000
  overflow-y: auto
  opacity: 0

  .close
    text-align: right
    margin-right: 15px

  .block-container
    display: flex
    justify-content: center
    width: 100%
  .logo
    transition: all ease .3s
    padding: 0
    margin: 0
    width: fit-content
    font-size: 90px
    overflow: hidden

    &:hover
      color: dodgerblue
      text-shadow: 1px 1px 1px $primary-color ,-1px -1px 1px $primary-color 

      .movable
        -webkit-transform: rotate(35deg)
        transform: rotate(35deg)
  
  .app-version
    font:
      size: 24px
      weight: bolder
    color: #ccc

    &:hover
      color: #999

  .about-nav
    button
      margin: 0 0 0 0
      background: #ccc
      border: 2px solid #ccc
      &:first-child
        border-radius: 4px 0 0 4px

      &:last-child
        border-radius: 0 4px 4px 0

      &:hover
        border: 2px solid #999

  .information-container
    text-align: left
    width: 100%
    padding: 20px 

  .logos
    img
      width: 240px
    

// End of About Screen Styles