@import _normalize
@import _vars
@import _links
@import _typography
@import _buttons
@import _modules


*
  margin: 0
  padding: 0

.mytool
  padding: 0
  height: 50px
  width: 100%
  display: flex
  border-radius: 8px 8px 0 0
  transition: all ease .3s
  -webkit-user-selection: none
  -webkit-app-region: drag
  z-index: 200

.note-menu
  display: block
  width: 48px
  height: 50px
  text-align: center
  padding: 5px 0 0 0  
  font:
    size: 25px
    weight: 600
  -webkit-app-region: no-drag

.doc-title
  display: block
  width:  35%
  height: 100%
  padding: 10px 0 0 20px
  display: flex
  align-items: center
  cursor: move

.btn-group
  display: flex
  width: 40%
  margin: 0
  justify-content: flex-end
  -webkit-user-selection: none
  -webkit-app-region: drag
  

.control-group
  width: 20%
  justify-content: flex-end

.content-fluid
  position: relative
  overflow: hidden
  height: 100vh
  border-radius: 10px
  background: #fff
  border: 1.2px solid #aaa

.index-fluid
  height: 100vh

.panel-principal
  display: flex
  flex-direction: column
  overflow-y: auto
  height: 90%
  background: $dark-color
  color: white
  position: relative


// Editor

#editor,
#viewer
  padding: 20px  3% 2% 3%
  position: relative
  display: block
  overflow-y: scroll
  z-index: 100
  background: transparent

  &:focus
    outline: 0px

#editor
  cursor: text

.linea
  min-width: 100%
  min-height: 22px
  height: max-content
  max-height: max-content
  font-size: 18px
  z-index: 200
  cursor: text
  color: #777
  text-align: justify
  border: 1px solid transparent
  

  &:focus,
  &:hover,
    outline: 0
    cursor: text
    border: 1px solid #eee
  
  p 
    margin: 0 0 0 0
    padding: 0
    width: 100%
    display: inline-block

.between-div
  background: white
  width: 100%
  position: absolute
  height: 20vh
  top: 60px
  box-shadow: 0px 2px 5px  rgb(245,245,245)
  z-index: 50


.note-title
  color: #555
  margin: 6px 0 10px 0
  cursor: text

  &:hover
    color: $primary-color

.linea-lista
  padding-left: 3%

.img-line
  height: 280px
  display: flex
  padding: 10px

.c
  justify-content: center

.r
  justify-content: flex-end


.img-apuntes
  height: 250px
  width: 250px
  border-radius: 5px
  box-shadow: 0px 1px 5px rgba(0,0,0,.7)

::-webkit-scrollbar-track
  background-color: transparent
  cursor: pointer
  z-index: 500


::-webkit-scrollbar
  width: 10px
  background-color: white
  cursor: pointer


::-webkit-scrollbar-thumb
  background-color: #ddd
  cursor: pointer
  border-radius: 3px 
  z-index: 100 



