// Tooltips

.editor-tools .btn-tab,
  position: relative

  &:after
    position: absolute
    width: 130px
    height: 16px
    background: #aaa
    visibility: hidden
    left: -57px
    bottom: -40px
    transition: all ease .3s
    opacity: 0
    border-radius: 3px
    color: white
    padding: 10px
    text-align: center
    font-size: 9px
    z-index: 200

  &:before
    visibility: hidden
    content: ''
    position: absolute
    bottom: -4px
    opacity: 0
    left: 0
    width: 0
    height: 0 
    border-right: 15px solid transparent
    border-left: 15px solid transparent
    border-bottom: 10px solid #aaa 
    z-index: 200

  .icon
    color: #ccc

  &:hover

    &:after
      visibility: visible
      opacity: 1

    &:before
      visibility: visible
      opacity: 1

    .icon
      color: #aaa

#btn-devtools
  &:after
    content: 'Table of Contents'
#btn-pdf
  &:after
    content: 'Exp. to PDF'
#btn-trash
  &:after
    content: 'clear'
#btn-save-note
  &:after
    content: 'Save As'
#btn-read-mode
  &:after
    content: 'Read Mode'
#btn-preferences
  &:after
    content: 'preferences'

// control buttons
#btn-close
  &:hover
    .icon
      color: lighten(#cf1111,20%)



// Editor preferences Styles

.editor-preferences
  position: absolute
  height: 100%
  width: 300px
  background: whitesmoke
  right: -300px
  top: 50px
  z-index: 100
  padding: 0 15px
  text-align: center

  h2,
  .call-about
    margin: 20px 0 15px 0
    font-size: 30px
  button
    margin: 5px
    color: #fff
  
  .call-about
    font-size: 16px

  &.showed
    right: 0


// Status bar and messages
#notification-bar
  display: flex
  justify-content: flex-end
  padding: 0 20px
  height: 20px
  width: 1px
  overflow: hidden
  bottom: 0
  left: 0
  position: absolute
  z-index: 1000
  color: #fff
  opacity: .1


// Note List

.notes-list-box
  display: flex
  flex-direction: column
  align-items: center
  height: 100%
  width: 900px
  overflow: hidden
  top: 610px
  left: 0
  position: absolute
  z-index: 199
  color: #555
  border-right: 2px solid #fafafa
  opacity: .99
  background: #fefefe

  &:show-list
    left: 0

.note-list-header
  width: 95%
  height: 30%
  text-align: center
  background: #fefefe
  overflow-x: auto

.menu-title
  font-size: 25px
  margin: 10px 0 20px 0

.searchbar
  height: 48px
  width: 100%
  padding: 0 10px
  font-size: 20px
  margin: 10px 0 0 0
  border: 2px solid #666
  border-radius: 4px
  cursor: text

  &:focus
    outline: 0

.notes-list
  width: 95%
  height: 55%
  overflow-x: auto

.list-menu
  border-top: 3px solid #ccc
  border-radius: 10px 10px 0 0
  width: 95%
  height: 20%
  text-align: center
  padding: 15px
  color: $primary-color
  

.note-item
  padding: 15px
  margin: 5px 0
  height: 120px
  width: 100%
  background: #fefefe
  cursor: pointer
  overflow: hidden
  border-top: 1px solid #f7f7f7
  position: relative


  &:hover
    background: #eee
    
    .title
      color: #222

    .erase
      position: absolute
      top: 15px
      right: 15px
      display: block

  .title
    text-align: left
    font-size: 18px
    color: $accent-color

  .date
    text-decoration: dotted


  .preview
   
  .tags

  .body
    visibility: hidden

  .metadata
    visibility: hidden  

.erase
  position: absolute
  top: 15px
  right: 15px
  display: none
  font-size: 15px
  cursor: pointer
